#sandbox {
    padding-left: 10%;
    padding-top: 2%;
}
#schema {
    width: 500px;
    height: 200px;
    position: relative;
}
#value {
    width: 500px;
    height: 100px;
    position: relative;
}
pre {
    color: #009926;
}
button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
}
button:hover {
    background-color: #f7fafa;
}

button:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}
#violation {
    border-left: 0px;
    background: white;
    color: red;
    text-align: left;
}
#result {
    border-left: 0px;
    background: white;
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: medium;
}